{% extends 'partials/base.html' %}

{% block contentLeftSide %}
<form method="POST">
    <input type="text">
    <input class="btn btn-success w-100" type="submit" value="Submit">
</form>
{% endblock %}

{% block content %}
    <div class="border p-3">
        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>

        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>


        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>
        
        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>

        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>

        <div class="border p-3 mb-3 bg-light">
            <small>20th February 2021</small>
            <div class="row">
                <div class="col-md-8">
                    <p>This is a Task</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-danger btn-sm">Save</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}